body {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #DDDDDD;
  display: flex;
  flex-direction: column;
}

.main-container {
 min-height: 95vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */

}

.thumb {
  border: 10px solid #fff; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 40%; /* Set a small width */
  height: 40% /* 150px; */
}

.helper
{
  background: #a6a692;
  padding: 20px; /* Some padding */
  width: 150px; /* Set a small width */
  float: right;
}

.extraInfo {
  background: #a6a692;
  padding: 5px; /* Some padding */
  text-align: right;
}
.listCardHeader {
  background: #d6d6c2;
  padding: 5px; /* Some padding */
/*  width: 250px;  Set a small width */
}
.listCardBody {
  background: #e9e9d9;
  padding: 5px; /* Some padding */
/*  width: 250px;  Set a small width */
}
.listCardHeader:hover {
  background: #b8b894;
  /*  box-shadow: 0 0 4px 2px rgba(0, 100, 146, 0.5); */
}

footer {
  background-color: #efefef;
  text-align: center;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 50px;
min-height: 20vh;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-delete {
  margin-left: 40px;
}